.gameboardContainer {
  display: grid;
  width: 40rem;
  height: 8rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(18, 1fr);
  gap: 0.2rem;
  background-color: var(--darkBlue);
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid var(--white);
  box-shadow: 0 0 0.3rem var(--white);
}

.gameboardComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
}

.gameboardComponent h2 {
  margin-bottom: 0.5rem;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-left: 2px solid var(--white);
  border-top: 2px solid var(--white);
  color: var(--white);
  font-family: var(--mainFont, sans-serif);
}

.slot:hover {
  font-size: 18px;
  border: 0;
  border: 2px solid var(--white);
}
.slot:active {
  border: 0;
  color: black;
}

.highlight {
  animation: pulse 5s 1;
}
@keyframes pulse {
  0% {
    background-color: var(--white);
  }
  25% {
    background-color: var(--hot);
  }
  50% {
    background-color: var(--white);
  }
  75% {
    background-color: var(--hot);
  }
  100% {
    background-color: var(--white);
  }
}
