
.actionsLogContainer{
  background-color: var(--darkBlue);
  width: 30rem;
  border: 1px solid var(--white);
  box-shadow: 0 0 0.3rem var(--white);
  border-radius: 1rem;
}

.actionsLogComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionsLogComponent h2{
  margin-bottom: 0.25rem;
}
.logLine{
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
