<div *ngIf="Stats.length > 0 && Colors.length > 0" class="numberStatistics">
  <h2>Number Statistics (last 200)</h2>
  <div class="numberGrid">
    <div class="information">
      <h4>SLOT:</h4>
      <h4>HITS:</h4>
    </div>
    <div class="numberTab" *ngFor="let stat of Stats; let i = index">
      <div
        class="slot"
        [ngClass]="{
          green: Colors[convertStringToNumber(stat['result'])] == 'green',
          red: Colors[convertStringToNumber(stat['result'])] == 'red',
          black: Colors[convertStringToNumber(stat['result'])] == 'black'
        }"
      >
        {{ stat["result"] | json }}
      </div>
      <div
        class="hits"
        [ngClass]="{
          cold: i < 5,
          neutral: i >= 5 && i < Stats.length - 5,
          hot: i >= Stats.length - 5
        }"
      >
        <p>{{ stat["count"] | json }}</p>
      </div>
    </div>
  </div>
</div>
