:root{
    --white: #ffffff;
    --black: #25282f;
    --darkBlue: #0a1a51;
    --blue: #25325c;
    --red: #ff0000;
    --mainFont: 'Contrail One', cursive;
    --hot: rgb(224, 45, 45);
    --cold: aquamarine;
    --neutral: grey;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--blue);
    color: var(--white);
    font-family: var(--mainFont);
}
